/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

header {
    margin: 20px 0;
    padding: 20px 0;
}

header nav {
    margin: 20px 0;
    display: inline-block;
}

header nav a {
    margin-left: 70px;
    text-decoration: none;
    color: black;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

.text-containers {
    margin-bottom: 20px;
    padding: 3% 1%;
    padding-bottom: 20px;
}

section.top-contents .text-containers {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
    padding: 3% 1%;
    padding-bottom: 20px;
}

section.middle-contents .text-containers {
    display: block;
    float: left;
    align-content: space-between;
    width: 50%;
    padding: 3% 1%;
}
.text-containers h2 {
    margin-top: 20px;
}


.middle-contents .text-containers .containers {
    border-bottom: 1px dashed black;
    width: 375px;
}

.middle-contents .text-containers button.learn {
    display: inline-block;
    flex: wrap;
    justify-content: space-around;
    width: 50%;
    padding: 3% 1%;
    border: 1px solid black;
    border-radius: 5px;
    background: white;
    margin-top: 20px;
    margin-bottom: 25px;
    cursor: pointer;
}

.bottom-contents .text-container {
    width: 100%;
    padding: 3% 1%;
    padding-bottom: 20px;
    margin-top: 20px;
}

.services-container {
    margin: 0 auto;
    width: 900px;
}

.services-header-img {
    width: 100%;
}

.services-container header nav a {
    margin-left: 50px;
}

div.main-contact section.contact-us {
	padding: 30px;
	background: white;
	box-shadow: 0 4px 4px darkgray;
	border: 0.5 solid lightgray;
	margin-top: 20px;
	margin-bottom: 30px;
}

section.contact-us h1 {
	font-size: 25px;
}


.main-contact .contact-form {
	display: flex;
	flex-direction: column;
	border: 1px solid darkgray;
}

.main-contact .contact-form .form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: space-between;
	padding: 20px;
	background: rgb(230, 228, 228);
	box-shadow: 0 4px 4px darkgray;
	border: none;
}

.main-contact .contact-form #name, #email, #message {
	width: 280px;
}

.main-contact .contact-form .form .submit-button {
	background: white;
	border: 1px solid darkgray;
	border-radius: 3px;
	cursor: pointer;
	margin-top: 3px;
}

.main-contact .contact-form .form .submit-button:hover {
	background: dodgerblue;
	color: white;
}